*{
   background-color: rgb(22, 22, 22);
   color: rgb(226, 226, 226);
   font-weight: 800;
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1{
   font-size: 1.6rem;
   color: white;
}

p{
   color: rgb(158, 158, 158);
   font-weight: 300;
   font-size: 1.1rem;
}

button{
   color: white;
   font-weight: 400;
   font-size: 0.9rem;
   background: black;
   border: 1px solid white;
   border-radius: 7px;
   padding: 3px;
   margin: 2px;

   transition: .4s ease-in-out;
   cursor: pointer;
   
}

button:hover{
   color: black;
   background: white;
   
}